

body{ 
background: url(../img/bg.png);
}

li{
	list-style: none;
	font-family: 'forum', sans-serif;
	color:white;
}

h1{
	display:relative;
	color:white;
	font-family: helvetica; 
	font-weight: bold;
	font-size: 36px; 
	text-align: left;
	
}

h2{

	color: white; 
	font-family:'forum', sans-serif; 
	font-weight: bold;
	font-size: 36px; 
	text-align: left;
}

a{
	box-shadow: 5px 5px 5px 5px black;
	border-radius: 10px 40px 10px 40px;
	display:inline; 
	font-size: 2em;
    color:white; 
    font-weight: bold;
    text-decoration: none;
    height:36px;
    width:100px;
    padding:10px;
    margin: 15px;
    
}
a:hover{
	background: white;
}
a:visited{
	color:red;
}

.div1{
	float:left;
}

img{
	width:300px;
	border: 4px solid black; 
	margin: 30px 30px 30px 30px;
	position:relative;
	float:right;



}
/* broken on purpose for later use */ 
pan{
	font-family: 'forum', sans-serif;
  	color:white;
  	font-size: 36px;
  	float:left; 
}
p{
	font-family:'Allerta Stencil', sans-serif;;
	color: white; 
	font-weight: bold;
	font-size: 14px; 
	position:relative;
}


logo h1{
  box-shadow: 5px 5px 5px 5px black;
  color: white;
  font-family:helvetica;
  text-align:center;
  font-weight:bold;
  font-size:36px;
  line-height: 50px;
  height:100px ;
  width: 350px ;
  border-radius: 10px 60px 10px 60px; 

}

.right{
	text-align: center;
	color:white;
	font-family: 'forum',sans-serif; 
	font-size: 16px

 
}
.nav{
	text-align:center;
	color:white;
}

.nav li{
	float:right;

}

.nav a{
	display:inline-block;
	width: 200px;
	
}


/*containter*/ 

.leftcol{ 
background: url(../img/bg.jpg);
width: 400px;
float: left;}


.rightcol{
background: url(../img/bg.jpg);
width: 400px ;
height: 616px; 
float: left;
}

 

table {
    border-collapse: collapse;
    border-spacing: 0;
}
