

body{ 
background: url(../img/bg.png);
height: 620px
}

.logo{
  box-shadow: 10px 10px 10px 10px black;
  color: black;
  font-family:helvetica;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  line-height: 100px;
  height:100px ;
  width: 350px ;
  border-radius: 10px 60px 10px 60px; 
  margin: 30px;
}
div{
	display:center;

}
h1{

	background: url(../img/bg/png);
	font-family: helvetica; 
	font-weight: bold;
	font-size: 50px; 
	text-align: center;
}
h2{

	background: url(../img/bg/png);
	font-family: helvetica; 
	font-weight: bold;
	font-size: 50px; 
	text-align: left;
}

a{

	
	box-shadow: 5px 5px 5px 5px black;
	border-radius: 10px 40px 10px 40px;
	display:inline; 
	font-size: 2em;
    color:black; 
    font-weight: bold;
    text-decoration: none;
    height:36px;
    width:100px;
    padding:10px;


}

img{
	width:400px;
	border: 4px solid black; 
	float:relative; 


}
span{
	font-family: helvetica;
  color:white;
  font-size: 36px;
  float:left; 
 
}
p{
	font-family: helvetica;
	color: white; 
	font-weight: bold;
	font-size: 14px; 


}

/*containter*/ 

leftcol{ 
background: url(../img/bg.jpg);
width: 400px;
float: left;}


rightcol{
background: url(../img/bg.jpg);
width: 400px ;
height: 616px; 
float: left;}
.round-shadow{ border-right : 2;}
.round-shadow{ box-shadow :10px 10px 10px black;
}

 

table {
    border-collapse: collapse;
    border-spacing: 0;
}
